# Build
build/
build-*/
out/
**/bin/*
!**/bin/data/
**/bin/data/*
!**/bin/data/.gitkeep

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakePresets.json

# IDE
.vscode/
.idea/
*.user
*.suo
*.sdf

# OS
.DS_Store
Thumbs.db
